body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: sans-serif;
}

#unity-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}

#meb-logo {
  width: 200px;
  height: 200px;
  background: url('meb-logo.png') no-repeat center;
  background-size: contain;
}

#unity-loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  width: 100%;
  max-width: 400px;
}

#unity-progress-bar-empty {
  width: 100%;
  height: 36px;
  margin-top: 30px;
  background: url('progress-bar-empty-dark.png') no-repeat center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

#unity-progress-bar-full {
  height: 36px;
  width: 0%;
  min-width: 2%;
  background: url('progress-bar-full-dark.png') no-repeat left center;
  background-size: 100% 100%;
  transition: width 0.2s ease-out;
}

#synlet-logo {
  width: 530px;
  margin-top: 30px;
  z-index: 10;
}

@media (max-width: 480px) {
  #synlet-logo {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
  }

  #unity-progress-bar-empty {
    width: 90%;
    max-width: 320px;
    height: 28px;
    margin-top: 24px;
    background-size: 100% 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  #unity-progress-bar-full {
    height: 100%;
    width: 0%;
    min-width: 2%;
    background-size: 100% 100%;
    transition: width 0.2s ease-out;
    border-radius: 4px;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  #synlet-logo {
    width: 70%;
    max-width: 400px;
    margin-top: 24px;
  }

  #unity-progress-bar-empty {
    width: 90%;
    max-width: 340px;
    height: 30px;
    margin-top: 24px;
    background-size: 100% 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  #unity-progress-bar-full {
    height: 100%;
    width: 0%;
    min-width: 2%;
    background-size: 100% 100%;
    transition: width 0.2s ease-out;
    border-radius: 4px;
    overflow: hidden;
  }
}